.wriper {
  width: 100%;
  position: relative; }
  .wriper .container {
    width: 1320px;
    padding: 20px 343px 120px 20px;
    margin: 0 auto;
    box-sizing: border-box; }
    .wriper .container .article-back {
      width: 1280px;
      margin: 0 auto; }
      .wriper .container .article-back ul li {
        display: inline-block;
        font-size: 12px; }
        .wriper .container .article-back ul li a {
          color: #999; }
    .wriper .container .article-login {
      box-sizing: border-box; }
      .wriper .container .article-login .center-wriper {
        box-sizing: border-box;
        padding: 35px 30px;
        overflow: hidden; }
        .wriper .container .article-login .center-wriper .login-left {
          float: left;
          padding-right: 40px;
          border-right: 1px solid #DADADA; }
          .wriper .container .article-login .center-wriper .login-left h4 {
            font-size: 30px;
            margin-bottom: 29px; }
          .wriper .container .article-login .center-wriper .login-left .loginRow {
            width: 430px; }
            .wriper .container .article-login .center-wriper .login-left .loginRow .form-group {
              width: 430px;
              margin-bottom: 30px; }
              .wriper .container .article-login .center-wriper .login-left .loginRow .form-group .control-label {
                margin-bottom: 10px; }
                .wriper .container .article-login .center-wriper .login-left .loginRow .form-group .control-label span {
                  color: #d51b51; }
              .wriper .container .article-login .center-wriper .login-left .loginRow .form-group .form-input {
                width: 100%;
                position: relative; }
                .wriper .container .article-login .center-wriper .login-left .loginRow .form-group .form-input input {
                  width: 100%;
                  height: 52px;
                  font-size: 14px;
                  background-color: #FFFFFF;
                  border: 1px solid #DADADA;
                  color: #000000; }
                .wriper .container .article-login .center-wriper .login-left .loginRow .form-group .form-input .msg-block {
                  display: none;
                  margin-top: 10px;
                  font-size: 14px;
                  color: #737373; }
              .wriper .container .article-login .center-wriper .login-left .loginRow .form-group a {
                color: #000000;
                float: right;
                text-decoration: underline; }
              .wriper .container .article-login .center-wriper .login-left .loginRow .form-group .login-error {
                color: red;
                padding-top: 10px;
                display: none; }
            .wriper .container .article-login .center-wriper .login-left .loginRow .btn-black {
              display: block;
              width: 180px;
              height: 45px;
              line-height: 45px;
              color: white;
              background-color: black;
              text-align: center;
              cursor: pointer;
              text-decoration: none; }
          .wriper .container .article-login .center-wriper .login-left .huo {
            width: 430px;
            text-align: center;
            position: relative;
            margin-bottom: 30px; }
            .wriper .container .article-login .center-wriper .login-left .huo span {
              font-size: 14px;
              display: inline-block;
              width: 60px;
              background: #FFFFFF;
              position: relative;
              z-index: 1; }
          .wriper .container .article-login .center-wriper .login-left .huo:after {
            content: '';
            width: 100%;
            height: 1px;
            background: #dbdbdb;
            position: absolute;
            top: 50%;
            left: 0; }
        .wriper .container .article-login .center-wriper .login-other {
          width: 100%;
          overflow: hidden; }
          .wriper .container .article-login .center-wriper .login-other h4 {
            font-size: 24px;
            margin-bottom: 20px; }
            .wriper .container .article-login .center-wriper .login-other h4 a {
              color: black;
              text-decoration: underline; }
          .wriper .container .article-login .center-wriper .login-other p {
            margin-right: 15px;
            padding-top: 15px; }
          .wriper .container .article-login .center-wriper .login-other ul {
            overflow: hidden;
            vertical-align: middle; }
            .wriper .container .article-login .center-wriper .login-other ul li {
              margin-right: 25px;
              text-align: center;
              float: left; }
              .wriper .container .article-login .center-wriper .login-other ul li a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                border: 1px solid #ebebeb;
                text-align: center;
                font-size: 0;
                margin-bottom: 10px;
                display: block;
                vertical-align: middle;
                position: relative; }
                .wriper .container .article-login .center-wriper .login-other ul li a .icon {
                  vertical-align: middle; }
        .wriper .container .article-login .center-wriper .login-right {
          float: left;
          padding-left: 30px; }
          .wriper .container .article-login .center-wriper .login-right .customer-member {
            margin-bottom: 20px; }
            .wriper .container .article-login .center-wriper .login-right .customer-member h4 {
              font-size: 24px;
              margin-bottom: 26px; }
            .wriper .container .article-login .center-wriper .login-right .customer-member .text-box {
              margin-bottom: 24px; }
              .wriper .container .article-login .center-wriper .login-right .customer-member .text-box h3 {
                font-size: 18px;
                margin-bottom: 11px; }
              .wriper .container .article-login .center-wriper .login-right .customer-member .text-box p {
                font-size: 14px;
                color: #999;
                line-height: 18px;
                letter-spacing: -0.1px; }
                .wriper .container .article-login .center-wriper .login-right .customer-member .text-box p a {
                  color: #999999;
                  text-decoration: underline; }
            .wriper .container .article-login .center-wriper .login-right .customer-member .btn-box {
              padding-top: 10px;
              text-align: center; }
              .wriper .container .article-login .center-wriper .login-right .customer-member .btn-box .btn-black {
                display: block;
                width: 180px;
                height: 45px;
                line-height: 45px;
                color: white;
                background-color: black;
                text-align: center;
                cursor: pointer;
                text-decoration: none; }
    .wriper .container .article-right-menu {
      width: 305px;
      position: absolute;
      top: 60px;
      right: 50px; }
      .wriper .container .article-right-menu .customber-service {
        padding: 25px 10px;
        background: #f2f2f2;
        text-align: center; }
        .wriper .container .article-right-menu .customber-service h4 {
          font-size: 24px;
          margin-bottom: 20px; }
        .wriper .container .article-right-menu .customber-service p {
          margin-bottom: 10px; }
          .wriper .container .article-right-menu .customber-service p .icon {
            margin-right: 6px; }
          .wriper .container .article-right-menu .customber-service p span {
            font-weight: 900;
            vertical-align: middle; }
        .wriper .container .article-right-menu .customber-service .btn-box {
          padding-top: 10px;
          text-align: center; }
          .wriper .container .article-right-menu .customber-service .btn-box .btn-black {
            display: block;
            margin: 0 auto;
            width: 180px;
            height: 45px;
            line-height: 45px;
            color: white;
            background-color: black;
            text-align: center;
            cursor: pointer;
            text-decoration: none; }

.icon-hotline {
  background-position: -239px -94px;
  width: 15px;
  height: 15px; }

/*# sourceMappingURL=login.css.map */
